{% trans_default_domain 'FOSUserBundle' %}





    <!-- start: REGISTER BOX -->
    <div class="box-register">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-register'}}) }}

            <fieldset>
                <legend>
                    Sign Up
                </legend>
                <p>
                    Enter your personal details below:
                </p>
                <div class="form-group">

                    {{ form_widget(form.pseudo, { 'attr': {'class': "form-control",
                        'placeholder': 'Pseudo'} }) }}


                </div>
                <div class="form-group">
                    {{ form_widget(form.nom, { 'attr': {'class': "form-control",
                        'placeholder': 'Nom'} }) }}

                </div>
                <div class="form-group">
                    {{ form_widget(form.prenom, { 'attr': {'class': "form-control",
                        'placeholder': 'Prenom'} }) }}

                </div>
                <div class="form-group">
                    {{ form_widget(form.tel, { 'attr': {'class': "form-control",
                        'placeholder': 'Tel'} }) }}

                </div>
                <div class="form-group">
                    {{ form_widget(form.etat, { 'attr': {'class': "form-control",
                        'placeholder': 'Etat'} }) }}

                </div><div class="form-group">
                    {{ form_widget(form.points, { 'attr': {'class': "form-control",
                        'placeholder': 'Points'} }) }}

                </div>

                <p>
                    Enter your account details below:
                </p>



                <div class="form-group">
                    <span class="input-icon">

                        {{ form_widget(form.email, { 'attr': {'class': "form-control",
                            'placeholder': 'Email'} }) }}

                        <i class="fa fa-envelope"></i> </span>
                </div>
                <div class="form-group">
                    <span class="input-icon">
                         {{ form_widget(form.username, { 'attr': {'class': "form-control",
                             'placeholder': 'Username'} }) }}
                        <i class="fa fa-user"></i>
                     </span>
                </div>
                <div class="form-group">
                    <span class="input-icon">

                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': "form-control",
                            'placeholder': 'Password'} }) }}

                        <i class="fa fa-lock"></i> </span>
                </div>
                <div class="form-group">
                    <span class="input-icon">
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': "form-control",
                            'placeholder': 'Password again'} }) }}

                        <i class="fa fa-lock"></i> </span>
                </div>

                <div class="form-group">


                        {{ form_widget(form.roles, { 'attr': {'class': "form-control"} }) }}


                </div>

                <div class="form-actions">
                    <p>
                        Already have an account?
                        <a href="{{ path('fos_user_security_login') }}">
                            Log-in
                        </a>
                    </p>
                    <div>
                        <input type="submit" class="btn btn-primary pull-right" value="{{ 'registration.submit'|trans }}" />
                    </div>
                </div>
            </fieldset>

        {{ form_end(form) }}
        <!-- start: COPYRIGHT -->
        <div class="copyright">
            &copy; <span class="current-year"></span><span class="text-bold"> GameHub</span>. <span>All rights reserved</span>
        </div>
        <!-- end: COPYRIGHT -->
    </div>
    <!-- end: REGISTER BOX -->

