
<!DOCTYPE html>
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3.x Version: 1.3 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->

    <title>{% block title %}Game Hub{% endblock %}</title>
    {% block stylesheets %}
        <!-- start: GOOGLE FONTS -->
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
        <!-- end: GOOGLE FONTS -->
        <!-- start: MAIN CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/projectgamehub/vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/projectgamehub/vendor/fontawesome/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/projectgamehub/vendor/themify-icons/themify-icons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/projectgamehub/vendor/animate.css/animate.min.css') }}" media="screen">
        <link rel="stylesheet" href="{{ asset('bundles/projectgamehub/vendor/perfect-scrollbar/perfect-scrollbar.min.css') }}" media="screen">
        <link rel="stylesheet" href="{{ asset('bundles/projectgamehub/vendor/switchery/switchery.min.css') }}" media="screen">

        <!-- end: MAIN CSS -->
        <!-- start: CLIP-TWO CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/projectgamehub/css/plugins.css') }}" >
        <link rel="stylesheet" href="{{ asset('bundles/projectgamehub/css/styles.css') }}" >
        <link rel="stylesheet" href="{{ asset('bundles/projectgamehub/css/themes/theme-1.css') }}" >
        <!-- end: CLIP-TWO CSS -->
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<!-- end: HEAD -->
<body class="login example1" >
{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    Logged in as  {{  app.user.username  }} |
    <a href="{{ path('fos_user_security_logout') }}">
        Log out
    </a>
{% endif %}



            {% block fos_user_content %}

             {% endblock fos_user_content %}


    {% block javascripts %}

        <!-- start: MAIN JAVASCRIPTS -->

        <script src="{{ asset('bundles/projectgamehub/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/projectgamehub/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/projectgamehub/vendor/jquery-cookie/jquery.cookie.js') }}"></script>
        <script src="{{ asset('bundles/projectgamehub/vendor/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
        <script src="{{ asset('bundles/projectgamehub/vendor/switchery/switchery.min.js') }}"></script>

        <!-- end: MAIN JAVASCRIPTS -->
        <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <script src="{{ asset('bundles/projectgamehub/vendor/jquery-validation/jquery.validate.min.js') }}"></script>

        <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <!-- start: CLIP-TWO JAVASCRIPTS -->
        <script src="{{ asset('bundles/projectgamehub/js/main.js') }}"></script>

        <!-- start: JavaScript Event Handlers for this page -->
        <script src="{{ asset('bundles/projectgamehub/js/login.js') }}"></script>

        <script>
            jQuery(document).ready(function() {
                Main.init();
                Login.init();
            });
        </script>
        <!-- end: JavaScript Event Handlers for this page -->

    {% endblock %}
</div>
</body>
</html>

